.messages{
	border-radius: 0.2em;
	padding: 0.5em;
	font-style: bold;
}

.error{
	background-color: #EDCCB6;
}

.info{
	background-color: #C8DCB8;
}

.bottom-margin{
	margin-bottom: 1em;
}

.top-margin{
	margin-top: 1em;
}

